# Jekyll
_site
.jekyll-cache
.jekyll-metadata
.sass-cache

# Obsidian
.obsidian/
.trash/
_notes/.obsidian
_notes/Public/.obsidian

# OS
.DS_Store
pages/.DS_Store
Thumbs.db

# Generated
pages/tags.md

# Ruby
vendor/